<!--<div class="d-flex justify-content-center" style="margin-left: -86px; margin-right: -86px; background: #343a40">-->
    <!--<p class="c-h-item red">Ledig</p>-->
    <!--<p class="c-h-item blue">Mindre &auml;n en m&aring;nad kvar</p>-->
    <!--<p class="c-h-item green">Vill byta</p>-->
<!--</div>-->

<div class="d-flex justify-content-center fixed-bottom" style="background: #343a40">
    <p class="c-h-item red">Ledig</p>
    <p class="c-h-item blue">Mindre &auml;n en m&aring;nad kvar</p>
    <p class="c-h-item green">Vill byta</p>
</div>

<div class="d-flex flex-wrap">
    <%
    consultsinfo.forEach(function (item) {
        var antaldagarkvar = item.getTimeLeft();
        var color;
        if (antaldagarkvar != null && antaldagarkvar <= 31 && antaldagarkvar > 0) {
            color = 'c-item-blue'
        } else if (antaldagarkvar != null && item.change != undefined && item.change == "TRUE") {
            color = 'c-item-green'
        } else if (antaldagarkvar != null && antaldagarkvar <= 0) {
            color = 'c-item-red';
        }

    if (color) {
        var customerTitle;
        var customerText;
        if ((item.end == undefined || item.end == null || item.end == "") && antaldagarkvar <= 0) {
            customerText = 'Väntar på uppdrag';
        } else if (item.customer == undefined || item.customer == null || item.customer == "") {
            customerTitle = 'Kund:'
            customerText = '-:'
        } else {
            customerTitle = 'Kund:';
            customerText = item.customer;
        }
    %>
    <div class="card c-item <%= color %>">
        <div class="card-header">
            <%= item.name %>
        </div>
        <div class="card-body">
            <% if ((item.end == undefined || item.end == null || item.end == "") && antaldagarkvar <= 0 ){ %>
            <p style="margin-bottom: 0">Väntar på uppdrag</p>
            <% } else if(item.customer == undefined || item.customer == null || item.customer == "") { %>
            <p style="margin-bottom: 0"><b>Kund:</b> -</p>
            <p style="margin-bottom: 0"><b>Uppdrag slutar:</b> <%= item.end %></p>
            <% }else{ %>
            <p style="margin-bottom: 0"><b>Kund:</b> <%= item.customer %></p>
            <p style="margin-bottom: 0"><b>Uppdrag slutar:</b> <%= item.end %></p>
            <% } %>
            <p style="margin-bottom: 0"><b>Antal dagar:</b> <%= antaldagarkvar %></p>
            <p style="margin-bottom: 0"><b>Område:</b> <%= item.expertiees %></p>
        </div>
    </div>
    <% }
    });
    %>
</div>

<script src="/reload/reload.js"></script>